/* .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
  }
  
  .swapBox {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #0070f3;
    color: #fff;
  }
  
  .button:hover {
    background-color: #005bb5;
  } */

  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #060606;
  }
  
  .header {
    width: 100%;
    padding: 20px;
    background-color: #0070f3;
    color: #fff;
    text-align: center;
  }
  
  .swapBox {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
  }
  
  .button {
    margin-top: 20px;
    width: 100%;
    padding: 10px;
    background-color: #0070f3;
    color: #fff;
  }
  
  .button:hover {
    background-color: #005bb5;
  }
  
  